<!DOCTYPE html>
<html>

<head>
    <style>

        .footers {
            background-color: #4d4e4c;
            color: #fff;
            max-width: 20%;
            line-height: 1.5;
            background-color: #4d4e4c;
            min-width: 20%;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MV Vitec</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MV Vitec</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index">Products</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#4d4e4c;">
        <div style="width:100%; margin: 0px!important; background-color:#4d4e4c; color:#fff; padding: 60px;" class="row">
            <div class="footers">
                <h2>Kontakt os</h2>
                <p>
                    E-mail:&nbsp;<a href="mailto:salg@mv-nordic.dk"><span>salg@mv-nordic.dk</span></a><br>
                    Hovednummer:&nbsp;<strong>12 34 56 78</strong>
                </p>
                <p>
                    Åbningstider<br>
                    <strong>Salg:&nbsp;</strong>man-tors: 9-15, fre: 9-14<br>
                    <strong>Support</strong>: man-tors: 8-16&nbsp;og fre 9-16<br>
                    <strong>Lager</strong>: man-tors: 7.30-15.30, fre: 8-15
                </p>
                <p>Skift sprog:</p> <a href="" title="English" style="padding: 11px 11px 11px 0;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAflJREFUeNpinDRzn5qN3uFDt16+YWBg+Pv339+KGN0rbVP+//2rW5tf0Hfy/2+mr99+yKpyOl3Ydt8njEWIn8f9zj639NC7j78eP//8739GVUUhNUNuhl8//ysKeZrJ/v7z10Zb2PTQTIY1XZO2Xmfad+f7XgkXxuUrVB6cjPVXef78JyMjA8PFuwyX7gAZj97+T2e9o3d4BWNp84K1NzubTjAB3fH0+fv6N3qP/ir9bW6ozNQCijB8/8zw/TuQ7r4/ndvN5mZgkpPXiis3Pv34+ZPh5t23//79Rwehof/9/NDEgMrOXHvJcrllgpoRN8PFOwy/fzP8+gUlgZI/f/5xcPj/69e/37//AUX+/mXRkN555gsOG2xt/5hZQMwF4r9///75++f3nz8nr75gSms82jfvQnT6zqvXPjC8e/srJQHo9P9fvwNtAHmG4f8zZ6dDc3bIyM2LTNlsbtfM9OPHH3FhtqUz3eXX9H+cOy9ZMB2o6t/Pn0DHMPz/b+2wXGTvPlPGFxdcD+mZyjP8+8MUE6sa7a/xo6Pykn1s4zdzIZ6///8zMGpKM2pKAB0jqy4UE7/msKat6Jw5mafrsxNtWZ6/fjvNLW29qv25pQd///n+5+/fxDDVbcc//P/zx/36m5Ub9zL8+7t66yEROcHK7q5bldMBAgwADcRBCuVLfoEAAAAASUVORK5CYII=" title="English" alt="English"></a> <a href="" title="Norsk" style="padding: 11px 11px 11px 0;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGSSURBVHjaYnzIAAVy//9zRV36skTnATPzPwaGf2BBCOMPEgkQQCxAUcHaaiD5////ngQpRkZG4aLC/3//MPz58x+Efv//DSL/Acnfv+9u2AQQQCxgg/7/e/IUSL18/weo7c+DB0AVDL+BioCqgejXv1+//v/6zSwrC7QBIIDAGv4CVf0F0f9ADvn/5xfI1F8gpSDVQD2/QCTT799AVwEEEIvM379AZ0Cc9Aeo8/9/gbUb/mMDQGUanz4BBBAjc/D5/mTpF+9///0HdvO/f0BtQA6I/AMk//3+CxIHikgJss7OOQ0QQIx///6FGP+f4X/JgmfdcZL/cQAmJqb3798DBBDLPWZmkdysP/fuC2zY9BvspLd21v9+gXzMAPLub6g3fv9hUVa6evocQACxAL35HxxkQKUgZ/3//+8nRMUvkCBIJ4jxD+iQP8DAZgAIILCGP3+YJEEuEeUDBRqzjCzTX1DAM4CDn/nPH5Dqv3//gR0PEECMV2FRqPD+vaDeibcXzK4JC/+BxTEkghlgJBAABBgA9J5akqVspaUAAAAASUVORK5CYII=" title="Norsk" alt="Norsk"></a> <a href="" title="Svenska" style="padding: 11px 11px 11px 0;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGwSURBVHjaYmRwbmSAgb919Qz/GICIuayU4dc/hl+/GH79YfjxC8H4/QsggFiA6qpzPYHkv3//GZW/Mfz7+5/hb26J35+////8/QdEv//+BZH/QIxNuZMBAogFbPT/J++//f33n+Hno///fzP8/3v/9effQEV//gIV/frz9xeQ/fuvrDA3A8MvgABiAZr87x8DUPWfn6wQ1f///WJh/PHtD9MvsJ5fYPT7H1Az0Lm/AAKI8e9BBkalMoZfQLP/MPz/8//fbxD6Dyb//QIjMOP/b0Z2+U97DwIEEAvDHwaQqSAVMA3/f0G1IVSDGAz//gCVAAQQ0EkM/0Hq/gBFgUJIGpBIsAgj0Od/GAACiJFBvzirLOD+m4/AoNjq3gu26pf52pLff/6A/PCD6dcfYPj8+/Pnr7IY39nWSQABxMLw488fkIf+/v7zD2bYr19A1aAg+gcM/98Mf/8w/vvDBETsDAxPAAKIBRgpQKWS/NzAAGFgk2YABtS/37JCPKCwB7r531+gOX///gOhf6BIBQggRgbJZHhEvp2zFhgGQIeKptsygELjFwz9A3OBJANAgAEA3Ll5iCfmAhAAAAAASUVORK5CYII=" title="Svenska" alt="Svenska"></a>
            </div>
            <div class="footers">
                <h2>Find os</h2>
                <p>
                    Vitec MV<br>
                    Lucernemarken 17<br>
                    5260 Odense S
                </p>
                <p><a href="https://www.google.com/maps/dir/%27%27/Lucernemarken+17,+5260+Odense,+Danmark/55.3705579,10.3947745,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x464d20657b3ab7c5:0x6ebe11b62d544c6f!2m2!1d10.399066!2d55.370558" target="_blank" rel="noopener">Se på Google kort</a></p>
            </div>
            <div class="footers">
                <h2>Om os</h2>
                <nav>
                    <div>
                        <a href="">Historie</a> <br>
                        <a href="">Om Vitec</a><br>
                        <a href="">Samarbejdspartnere</a><br>
                        <a href="">Privatlivspolitik</a><br>
                        <a href="">Handelsbetingelser</a><br>
                        <a href="">Jobs</a><br>
                        <a href="">GDPR Compliance</a><br>
                    </div>
                </nav>
            </div>
            <div class="footers">
                <h2>Følg os</h2>
                <a href="https://www.facebook.com/groups/185583772241140/" target="_blank" title="Gå til vores facebook side">
                    <img src="https://www.mv-nordic.com/wp-content/themes/mvnordic/dist/images/facebook_ikon.png" alt="Gå til facebook" title="Gå til facebook">
                </a>
                <a href="https://www.linkedin.com/in/johnny-sins-491a24177/" target="_blank" title="Gå til vores linkedin side">
                    <img src="https://www.mv-nordic.com/wp-content/themes/mvnordic/dist/images/linkedIn_ikon.png" alt="Gå til linked in" title="Gå til linkedin">
                </a>
            </div>
            <div class="footers">
                <h2>Anbefal os</h2>
                <div data-href="https://www.facebook.com/groups/185583772241140/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=406879539723947&amp;container_width=228&amp;href=https%3A%2F%2Fhttps://www.facebook.com/groups/185583772241140/;layout=button_count&amp;locale=da_DK&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=large"><span style="vertical-align: bottom; width: 190px; height: 28px;"><iframe name="f3991671e2e6b6c" width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.10/plugins/like.php?action=like&amp;app_id=406879539723947&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df9cdc996ce2334%26domain%3Dwww.mv-nordic.com%26origin%3Dhttps%253A%252F%252Fwww.mv-nordic.com%252Ff3d758e0714e6e%26relation%3Dparent.parent&amp;container_width=228&amp;href=https%3A%2F%2Fwww.facebook.com%2FVitecmv%2F&amp;layout=button_count&amp;locale=da_DK&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=large" style="border: none; visibility: visible; width: 190px; height: 28px;" class=""></iframe></span></div>
                <p>© Projekt for Vitec MV 2019</p>
                <img src="https://www.mv-nordic.com/wp-content/themes/mvnordic/dist/images/paymentcards.png" alt="Betallingskort">
            </div>
        </div>
        <div class="container">
            &copy; 2019 - Vitec MV - <a asp-area="" asp-page="/Privacy">Privat Politk</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
