@page
@model Vitec_MV_MVC.Views.Home.IndexModel
@{
    ViewData["Title"] = "Index";
}
<div style="background-color: rgb(77, 78, 76); padding-top: 10px; padding-bottom: 10px; color: rgb(255, 255, 255);">
    <div class="container">
        Du er her: <b>Forside</b>
    </div>
</div>
<div>
    <div style="width: 50%; height: 686px; float: left;
    background:  linear-gradient(
      rgb(150, 25, 50, 0.91),
      rgb(150, 25, 50, 0.91)
    ),
    url(https://www.mv-nordic.com/wp-content/uploads/2017/11/EdelPhoto-8686.jpg);
    background-size: 100%;
    background-position-y: -80px;">

        <div style="margin: 20% 15%; color: rgb(255, 255, 255); font-weight: bold;">
            <p style="font-size: 50px;">Alle kan læse og skrive med CD‑ORD og IntoWords</p>
            <p style="font-size: 20px;">Vil du vide hvordan?</p>
            <a href="/Products">
                <div style="width: 80px; height: 30px; border: 2px solid black; padding-left: 8px; background: linear-gradient(rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5))">
                    Klik her
                </div>
            </a>
        </div>
    </div>
    <div style="width: 50%; height: 686px; float: right;
    background:  linear-gradient(
      rgb(26, 173, 206, 0.91),
      rgb(26, 173, 206, 0.91)
    ),
    url(https://www.mv-nordic.com/wp-content/uploads/2018/09/top_billede_blå.jpg);
    background-size: 100%;
    background-position-y: -110px;">

        <div style="margin: 20% 15%; color: rgb(255, 255, 255); font-weight: bold;">
            <p style="font-size: 50px;">Få inspiration til din naturfaglige undervisning</p>
            <p style="font-size: 20px;">Bliv klogere her</p>
            <a href="/Products">
                <div style="width: 80px; height: 30px; border: 2px solid black; padding-left: 8px; background: linear-gradient(rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5))">
                    Klik her
                </div>
            </a>
        </div>
    </div>

</div>